HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Flutter & Collaboration Custom ###
# 플러터 경로 정보가 담기는 파일 (동료와 경로가 다를 때 충돌 주범)
**/android/local.properties
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# 플러터 빌드 및 의존성 관련
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# 개인별 인텔리제이 설정 (이미 위쪽에 있지만 확실히 하기 위해)
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
*.iml